---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 - Page Not Found">

    <div class="error-container">
        <h2>404 Error</h2>
        <p>Page not found.</p>
    </div>
</BaseLayout>
