---
import BaseLayout from "../layouts/BaseLayout.astro";
import Brand from "../components/Brand.astro";
---

<BaseLayout title="About">
    <Brand />
    <div class="about-card">
        <div class="author-profile-card">
            <div class="author-profile-image">
                <!-- FIXED: alt="#" is read aloud by screen readers as
                     "hash" or skipped unpredictably. Once you have a
                     real photo, give it a real alt like "Rye, author
                     of Coffee Break". -->
                <img src="#" alt="Author portrait, to be added"/>
            </div>

            <div class="profile-card-content">
                <div class="author-introduction">
                    <h2>Author Name</h2>
                    <p>Author description</p>
                </div>

                <div class="author-interests">
                    <h3>Author's Interest</h3>
                    <ul class="author-interest-list">
                        <li class="interest-item">placeholder</li>
                    </ul>
                </div>

                <div class="author-experiences">
                    <h3>Author's Experience</h3>
                    <p>experience description</p>
                </div>

                <div class="author-links">
                    <h3>Social Platforms</h3>
                    <p>Willing to communicate with me?</p>
                    <ul class="social-links">
                        <li class="social-link-item">
                            <a href="#">
                                Placeholder
                            </a>
                        </li>
                    </ul>

                    <div class="work-cta">
                        <a href="#">Interested to work with me? Click here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</BaseLayout>