---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<header>
    <Navbar />
</header>

<main class="container">
    <section class="newsletter-banner">
        <img src="#" alt="#"/>
    </section>
    
    <section class="newsletter-primary-content">
        <h2>Our Daily Scope</h2>
        <p>Placeholder</p>

        <div class="newsletter-related-container">
            <img src="#"/>
        </div>

        <p>placeholder</p>
    </section>

    <section class="newsletter-promotions">
        <div class="newsletter-related-container">
            <img src="#" alt="#"/>
        </div>
    </section>

    <section class="recent-posts">
        <h2>Recent Posts</h2>		
		<div class="post-grid">
			<div class="post-card">
				<img src="#" alt="#"/>
				<div class="card-content">
					<h3>title placeholder</h3>
					<p>description</p>
					<p>
						<a href="#">
							read more
						</a>
					</p>
				</div>
			</div>
		</div>
    </section>
</main>

<Footer />