---
import BaseLayout from "../layouts/BaseLayout.astro";
import Brand from "../components/Brand.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const recentPosts = allPosts.sort((a, b) => b.data.date - a.data.date).slice(0, 3);
---

<BaseLayout title="Newsletter">
    <Brand />

    <section class="newsletter-primary-content">
        <h2>Our Daily Scope</h2>
        <p>Placeholder</p>

        <div class="newsletter-related-container">
            <img src="#" alt="newsletter illustration"/>
        </div>

        <p>placeholder</p>
    </section>

    <section class="newsletter-promotions">
        <div class="newsletter-related-container">
            <img src="#" alt="promotion banner"/>
        </div>
        <p>Placeholder</p>
    </section>

    <section class="recent-posts">
        <h2>Recent Posts</h2>
        <div class="post-grid">
            {recentPosts.map(post => (
                <PostCard
                    title={post.data.title}
                    description={post.data.description}
                    href={`/posts/${post.id}`}
                    image={post.data.image}
                />
            ))}
        </div>
    </section>
</BaseLayout>