---
import BaseLayout from "../layouts/BaseLayout.astro";
import Brand from "../components/Brand.astro";
---
<BaseLayout title="Work with Me">
    <Brand />

    <div class="work-content-container">
        <div class="main-work-content">
            <h2>Work with Me</h2>
            <div class="work-image">
                <img src="#" alt="Rye, author of Coffee Break"/>
            </div>
            <h3>Brief Introduction</h3>
            <p>blah blah blah, need more detail? 
            <a href="/about">Click here</a></p>

            <h3>What Can I Solve?</h3>
            <p>list scenarios here</p>

            <h3>When Will You Need My Help?</h3>
            <p>give scenario</p>
        </div>
        <div class="secondary-work-content">
            <div class="author-skills">
                <h3>Author's Skills</h3>
                <ul class="author-skill-list">
                    <li class="skill-item">placeholder</li>
                </ul>
            </div>
        </div>
    </div>
</BaseLayout>