---
// src/components/Category.astro
interface Props {
    theme_name: string;
}

const {category_name} = Astro.props;
---


<div class="theme-container">
    <div class="theme-pill">
        {category_name}
    </div>
</div>
