<footer>
    <ul class="nav-links">
		<li class="nav-brand">
			<a href="/" class="brand-link">
				Coffee Break
			</a>
		</li>
		<li class="nav-item">
			<a href="/">
				Home
			</a>
		</li>
		<li class="nav-item">
			<a href="/about">
				About
			</a>
		</li>
		<li class="nav-item">
			<a href="/newsletter">
				Newsletter
			</a>
		</li>
		<li class="nav-item">
			<a href="/work-with-me">
				Work with Me
			</a>
		</li>
	</ul>
    
    <p>&copy; 2026 Coffee Break</p>
</footer>
